.text-box {
  text-align: center;
}

.text-box > h1 {
  font-size: 60px;
}

.text-box > p {
  font-size: 20px;
}

.home__main-hero-subtitle {
  width: 65%;
  margin: 0 auto;
  /* margin-bottom: 35px; */
  font-size: 18px;
  line-height: 24px;
}

.particles-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 98%;
  z-index: 99;
}

/* .rect-bottom {
  background-color: white;
  width: 420px;
  height: 7px;
  margin: 0 auto;
  margin-bottom: 20px;
} */
