.home__hero-section2 {
  padding-top: 60px;
  padding-bottom: 30px;
}

.home__hero-row2 {
  width: auto;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 800px;
}

.title {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 800px;
  padding-bottom: 6px;
  border-bottom: 2px solid black;
}

.col1 {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0;
}

.col2 {
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 40px;
  padding: 0;
}

.home__hero-text-wrapper2 {
  padding-top: 0;
  margin: 0 auto;
}

.home__hero-subtitle2 {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__hero-img-wrapper2 {
  max-width: 560px;
}

.home__hero-img2 {
  margin: 0;
}
